{% extends 'base.html.twig' %}

{% block title %}Mes ingredients{% endblock %}

{% block body %}
    <div class="container pt-4">
        {% if not ingredients.items is same as ([]) %}
            <h1> Mes ingrédients</h1>

            {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
            {% endfor %}

            <a href="{{ path('ingredient.new') }}" class="btn btn-primary">
            Créer un ingrédient
            </a>
            
            <div class="count mt-4">
                Il y a {{ ingredients.getTotalItemCount }} Ingredients
            </div>
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Numéro</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nom</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prix</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Date de création</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Edition</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Suppresion</font></font></th>
                    </tr>
                </thead>
            {% for ingredient in ingredients %}

                <tbody>
                    <tr class="table-primary">
                    <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ ingredient.id }}</font></font></th>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ ingredient.name }}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ ingredient.price }}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ ingredient.createdAt|date('d/m/Y') }}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="{{ path('ingredient.edit', { id: ingredient.id }) }}" class="btn btn-info">Modifier</a></font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="{{ path('ingredient.delete', { id: ingredient.id }) }}" class="btn btn-danger">Supprimer</a></font></font></td>
                    </tr>
                </tbody>
                
            {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(ingredients) }}
            </div>
        {% else %}
            <h4>Il n'y a pas d'ingrédient</h4>
        {% endif %}
    </div>
{% endblock %}
