{% extends 'base.html.twig' %}

{% block title %}Mes recettes{% endblock %}

{% block body %}
    <div class="container pt-4">
        {% if not recipes.items is same as ([]) %}
            <h1> Mes recette</h1>
            
            <div class="count mt-4">
                Il y a {{ recipes.getTotalItemCount }} recettes
            </div>
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Numéro</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nom</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prix</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dificulté</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Date de création</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Edition</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Suppresion</font></font></th>
                    </tr>
                </thead>
            {% for recipe in recipes %}

                <tbody>
                    <tr class="table-primary">
                    <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ recipe.id }}</font></font></th>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ recipe.name }}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ recipe.price }}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ recipe.difficulty }}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ recipe.createdAt|date('d/m/Y') }}</font></font></td>
                    <td>todo</td>
                    <td>todo</td>
                    </tr>
                </tbody>
                
            {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(recipes) }}
            </div>
        {% else %}
            <h4>Il n'y a pas de recette</h4>
        {% endif %}
    </div>
{% endblock %}
